.headerStyle {
  background-color: black;
  padding: 10px 0;
}

.navStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  color: #fff;
}

.logoStyle {
  font-size: 1.5rem;
  font-weight: bold;
}

.formStyle {
  display: flex;
}

.inputStyle {
  padding: 5px;
  margin-right: 10px;
}

.inputStyle:focus-visible {
  outline-offset: 1px;
  outline-color: white;
  outline-style: double;
}

.buttonStyle {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.headerPaddingSmall {
  padding-left: 10px;
  padding-right: 10px;
}