.initial-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #141414;
  }
  
  .initial-page__title {
    font-size: 36px;
    color: green;
    margin-bottom: 10px;
  }
  
  .initial-page__message {
    font-size: x-large;
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: monospace
  }
  